
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}


/*ESTILOS BARRA DE NAVEGACION*/
nav{
    position: fixed; /*para que quede fijo*/
    width: 100%; /*ancho*/
    background-color: black; /*color de fondo*/
    display: flex; /**/
    flex-direction: row; /*Como se alinean los elementos=una linea fija*/
    justify-content: center; /*Alinea los elementos a lo largo del eje horizontal*/
    align-items: center; /*Alinea los elementoss a lo largo del eje vertical*/
    padding: 1vw 8vw; 
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.15);
    font-family: "Agency FB";
    
}


nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}


nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}
nav ul li{
    margin-top: 10px;
    padding: 0 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color:#e55b4f;
    text-decoration: underline;
}

/* Mostrar menú como una lista vertical en pantallas pequeñas */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        display: none; /* Oculto por defecto en móviles */
        width: 100%;
    }

    nav ul li {
        padding: 10px 0;
        text-align: left;
    }

    /* Mostrar el menú al hacer clic (puedes añadir JS para manejar esto) */
    nav.active ul {
        display: flex;
    }
}


/* Estilos para el botón de hamburguesa */
.menu-toggle {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
    color: #fff;
    font-size: 20px; /* Ajusta el tamaño según lo necesites */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }

    nav ul {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column; /* Alinear verticalmente */
        width: 100%; /* Asegúrate de que ocupe todo el ancho */
        padding: 10px 0; /* Espaciado interno para la lista */
    }

    nav.active ul {
        display: flex; /* Mostrar menú al activar */
    }
}



#home {
    background-color: black;
    width: 100%;
    min-height: 100vh; /* Cambia height por min-height */
    padding: 15vw 8vw;
    display: flex;
    flex-direction: row;
    overflow: hidden; /* Evita el desbordamiento */

}


#home .nombre{
    color: red;
    font-size: 20px;
    font-weight: 800;
}

#home h1{
    color: #fff;
    font-size: 100px;
    letter-spacing: 1.5px;
    font-weight: 900;
}


#home p {
    width: 100%;
    color: grey;
    font-size: 1.1rem;
    line-height: 1.5; /* Aumentar el espacio entre líneas */
    margin-bottom: 20px; /* Agregar margen inferior */
}


#home .boton{
    margin-top: 50px;
    text-decoration: none;
}

#home .boton a{
    background-color:red;
    padding: 15px 40px;
    color: #fff;
    border:none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}


#home .boton a:hover{
    opacity: 0.8;
}

#home img{
    max-width: 100%; /* Esto asegura que la imagen no sobrepase el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 0; /* Elimina el margen izquierdo */
    text-align: center;
}


@media (max-width: 768px) {
    #home {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        text-align: center;
        height: auto; /* Dejar que la altura se ajuste automáticamente */
        padding: 15vw 4vw;
    }

    #home img {
        width: 150px; /* Ajusta el tamaño según necesites */
        height: 150px;
        margin: 20px 0; /* Añade margen vertical para separación */
    }

    #home h1 {
        font-size: 2.5rem; /* Reduce el tamaño de la fuente */
    }

    #home p {
        font-size: 1rem;
    }
}

#caracteristicas{
    padding: 5% 8% 0 8%;
    text-align: center;
    background-color: rgb(16, 17, 17);
    height: auto;
}

#caracteristicas .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
}

#caracteristicas .fea-base .fea-box{
    background-color: rgb(0, 0, 0);
    text-align: start;
    padding: 30px;
    text-align: center;
}

#caracteristicas .fea-box i{
    font-size: 30px;
    color: red;
    
}
#caracteristicas .fea-box h3{
    font-size: 20px;
    font-weight: 800;
    color: white;
    
}

#caracteristicas .fea-box p{
    font-size: 15px;
    font-weight: 300;
    color: white;
    margin-top: 10px;
}

#caracteristicas,
#proyectos,
#competencias {
    padding: 5% 8%; /* Ajusta según sea necesario */
    margin: 0; /* Asegúrate de que no haya margen extra */
}



#proyectos{
    background-color:black;
    padding: 8vw;
    text-align: center;
}
#proyectos a{
    text-decoration: none;
}
#proyectos h2{
    color: white;
    font-size: 40px;
}
#proyectos h3{
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
}

#proyectos span{
    font-size: 1.1rem;
    color: rgb(95, 95, 95);
    padding: 10px;
    font-size: 15px;
}

#proyectos .pro-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#proyectos .pro-box .pro{
    text-align: start;
    background-color:rgb(30, 32, 32);
    height: 100%;
    border-radius: 5px;
}

#proyectos .pro-box .pro img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
    padding: 7px;
}

#competencias{
    background-color: rgb(16, 17, 17);
    padding: 8vw;
    text-align: center;
}

#competencias h2{
    color: white;
    font-size: 40px;
}

#competencias .comp-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#competencias .comp-box .comp{
    margin: 20px;
    padding: 40px;
    background-color: black; 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.15);

}
#competencias .comp-box .comp i{
    color: yellow;
    font-size: 12px;
}
#competencias .comp-box .comp p{
    color: white;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 768px) {
    #caracteristicas .fea-base,
    #proyectos .pro-box,
    #competencias .comp-box {
        grid-template-columns: 1fr; /* Una sola columna en dispositivos pequeños */
    }
}
@media (max-width: 768px) {
    #caracteristicas .fea-base,
    #proyectos .pro-box,
    #competencias .comp-box {
        grid-template-columns: 1fr; /* Una sola columna en dispositivos pequeños */
    }
}


#proyects{
    background-color:rgb(16, 17, 17);
    padding: 8vw;
    text-align: left;
    
}

#proyects h2{
    margin-top: 70px;
    color: rgb(119, 56, 95);
    border-bottom: 3px solid rgb(105, 57, 86);
    font-size: 60px;
    margin-bottom: 50px;
}
#proyects p{
    color: white;
    font-size: 15px;
    margin: 20px 0;
}


#proyects .proy img{
    width: 100%;
    height: auto;
}


#proyects .proy .proy-imgs{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
grid-gap: 1rem;
}

#proyects .proy .proy-imgs img{
    max-width: 100%;
    height: auto;
}


#proyects .proy .boton2 {
    margin-top: 50px;
    list-style-type: none;
    text-align: center;
    margin-bottom: 100px;
}
@media (max-width: 768px) {
    #proyects .proy .boton2 {
        margin-bottom: 50px;
    }
}


#proyects .proy .boton2 li a{
    padding: 15px 80px;
    text-decoration: none;
    background-color: transparent;
    border: 3px solid rgb(105, 57, 86);
    color: rgb(119, 56, 95);
    border-radius: 25px;
    margin-top: 80px;

}

#proyects .proy .boton2 li a:hover{
    opacity: 0.9;
    background-color: rgb(112, 50, 61);
    color: #fff;
}

@media (max-width: 768px) {
    #proyects .proy h2 {
        font-size: 24px;
    }

    #proyects .proy p {
        font-size: 16px;
        padding: 10px;
    }

    #proyects .proy-imgs img {
        width: 100%;
        margin-bottom: 10px;
    }

    #proyects .boton2 li a {
        display: block;
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }
}


#pie{
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction:row;
}

#pie .diseñoPie{
    padding: 70px;
    width: 60%;
}
#pie h4{
    color: rgb(105, 57, 86);
    text-decoration:dotted;
}

#pie p{
    color: rgb(105, 57, 86);
    margin-top: 5px;
}

#pie img{
    width: 350px;
    height: 250px;
}

@media (max-width: 768px) {
    #pie {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    #pie .diseñoPie {
        width: 100%;
        padding: 20px;
    }

    #pie img {
        width: 200px;
        height: auto;
        margin: 0 auto;
    }
}
